@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

:root {
    --amarelo: #ffe100;
    --preto: #000000;
    --cinza-claro: #ababab;
    --cinza-escuro: #808080;
    --branco: #FFFFFF;
    --degrade-btn: linear-gradient(#ffe300, #ffd700);
}

/* Estilo para o fundo amarelo */
.background-preto {
    background: var(--preto);
}

/* Container geral para o restante do conteúdo */
.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

section {
    padding: 2.7rem 0;
}

.btn-gradiente {
    padding: 10px 25px;
    color: white;
    border: none;
    cursor: pointer;
    background-image: var(--degrade-btn);
    transition: background 0.3s ease;
}

.btn-gradiente:hover {
    background-image: linear-gradient(#ffd700, #ffe300);
}

/* Classes do site */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.ul {
    display: flex;
    align-items: center;
}

.ul li {
    margin: 0 35px;
    font-size: 15px;
}

.ul li a {
    color: white;
    transition: color 0.3s;
}

.ul li a:hover {
    color: var(--amarelo);
}

.main-text {
    color: white;
}

/* Main */
main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main-text {
    width: 50%;
    color: white;
}

.main-text h1 {
    font-size: 4.5rem;
}

.main-text div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main-img {
    width: 50%;
}

.main-img img {
    width: 100%;
}

/* Menu ícone */
.menu-icon {
    display: none;
    position: relative;
    z-index: 10;
}

/* Resultados */
.resultados {
    background: #ffd700;
}

.resultados .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resultados .resultados-text {
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
}

.resultados .resultados-numeros {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.resultados .resultados-numeros p {
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}

.resultados .resultados-numeros p span {
    font-size: 30px;
    font-weight: 600;
}

/* Section Diferencias */
.diferencias .container {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.diferencias .card {
    width: 30%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.diferencias .card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.diferencias .card img {
    width: 60px;
}

.diferencias .card .titulo {
    margin: 13px 0;
    font-weight: 600;
}

/* Section Jogo */
.noticia .container {
    display: flex;
    align-items: center;
}

.noticia .noticia1-img {
    width: 50%;
}

.noticia .noticia1-img img {
    width: 100%;
    border-radius: 10px;
}

.noticia .noticia-text {
    width: 50%;
    padding-left: 90px;
}

.noticia .noticia-text h2 {
    font-size: 2.5em;
}

.noticia .noticia-text p {
    margin: 20px 0;
    color: var(--cinza-claro);
}

.noticia .noticia-text p b {
    color: var(--preto);
    font-size: 25px;
}

.ultimas-noticias .azul {
    font-size: 24px;
    font-weight: 600;
    color: #0060f0;
}

.ultimas-noticias h2 {
    font-size: 2.5rem;
}

.ultimas-noticias .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.ultimas-noticias .cards .card-item {
    width: 30%;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: 0px 35px 97px -15px var(--cinza-claro) ;
}

.ultimas-noticias .cards img{
    width: 80%;
}

.ultimas-noticias .cards .tema{
    margin: 5px 0;
    color: var(--cinza-escuro);
}

.ultimas-noticias .cards .subtema{
    font-size: 30px;
    font-weight: 500;
}

.ultimas-noticias .cards .noticia1{
    margin-bottom: 20px;
    color: var(--cinza-escuro);
}

.ultimas-noticias .cards button{
    padding: 10px 20px;
    color: white;
    background-color:var(--amarelo) ;
    border: none;
    cursor: pointer;
}

/* section newsleater */
.newsleater{
    margin-top: 50px;
    background-color: var(--preto);
}

.newsleater .box-newsleater{
    text-align: center;
    padding: 200px;
    background-image: url('../img/fundo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.newsleater .box-newsleater h2{
    font-size: 2.5rem;
}

.newsleater .box-newsleater p{
    margin: 13px 0;
}

.newsleater .box-newsleater input{
    width: 35%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #00000098;
    background-color: #faefda;
}


.newsleater .box-newsleater button{
    font-size: 15px;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 14px;
    color: white;
    background-color: var(--preto);
    cursor: pointer;
}
/* end section newsleater */
/* footer */
footer{
    background-color: var(--amarelo);
}

footer .container{
    display: flex;
    color: black;
}

footer .container ul{
    width: 25%;
}

footer .container h3{
    margin-top: 16px;
    font-weight: 600;
}

footer .container .redes-sociais img{
    margin-right: 10px; 
}

footer .container ul > p{
    margin-bottom: 40px;
    color: #000000;
}

footer .container li{
    margin: 10px 0;
    color: #000000;
}

/* end footer */
/* Responsivo */
@media (max-width: 960px) {
    .menu-icon {
        display: block;
    }

    .ul {
        position: fixed;
        background: var(--preto);
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        transition: left 0.3s;
    }

    .ul.ativo {
        left: 0;
    }

    .ul li {
        font-size: 20px;
        margin: 20px 0;
    }

    main .container {
        flex-direction: column;
    }

    main .container .main-img,
    main .container .main-text {
        width: 100%;
        text-align: center;
    }

    .resultados .container {
        flex-direction: column;
    }

    .resultados .resultados-text,
    .resultados .resultados-numeros {
        width: 100%;
        text-align: center;
    }

    .resultados-numeros {
        margin-top: 30px;
    }

    .ultimas-noticias .cards{
        flex-direction: column;
    }

    .ultimas-noticias .cards .card-item{
        width: 100%;
        margin-top: 50px;
    }

    .newsleater .box-newsleater{
        padding: 50px;
    }
    .newsleater .box-newsleater h2 {
        font-size: 2.0rem;
    }

    .newsleater .box-newsleater input{
        width: 90%;
    }

    .newsleater .box-newsleater button{
        width: 50%;
        margin-top: 20px;
    }

    footer .container{
        flex-direction: column;
    }

    footer .container ul{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 440px) {
    .resultados .resultados-numeros {
        flex-direction: column;
    }

    .diferencias .container {
        flex-direction: column;
    }

    .diferencias .card {
        width: 100%;
    }

    .noticia .container {
        flex-direction: column-reverse;
    }

    .noticia .noticia1-img,
    .noticia .noticia-text {
        width: 100%;
        text-align: center;
        padding: 0%;
    }

    main .container .main-text h1 {
        font-size: 3rem;
    }
}
